In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [4]:
# your code here
print(df.head(5))

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [5]:
# your code here
print(df.tail(5))

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [6]:
# your code here
print(len(pd.unique(df["method"])))

10

### What is the number of data collected in each year?

In [7]:
# your code here
print(df['year'].value_counts())

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [8]:
# your code here
print(df.isna().sum())

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [9]:
def do_something(x, y, z):
    """ 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [10]:
# your code here
print(do_something.__doc__)

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

### Call do_something function for the (11,13,15) values and save it as result

In [11]:
# your code here
savedResult = do_something(11,13,15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [12]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here
split = s.split()
print(split[int(savedResult)])

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [4]:
import random

arr = [random.randint(1, 100) for i in range(10)]

# your code here
def sort(array):
    if len(array) <= 1:
        return array
    item = array.pop()

    numbers_greater = []
    numbers_smaller = []

    for number in array:
        if number > item:
            numbers_greater.append(number)

        else:
            numbers_smaller.append(number)
    return sort(numbers_smaller) + [item] + sort(numbers_greater)
    
print(arr)
print(sort(arr))

[85, 83, 56, 62, 70, 58, 57, 10, 86, 88]
[10, 56, 57, 58, 62, 70, 83, 85, 86, 88]

### define a recursive function to calculate input numbers factorial named factorial

In [16]:
#your code here
def factorial(x):
   
    if x<0 :
        return "factorials of negative numbers are not defined "
    elif x== 0:
        return 1 

    elif x<=1:
        return x
        
    else:
        return x * factorial(x-1)


try:
    d = int(input("number: "))
    print(factorial(d))

except ValueError:
    print("please enter a number ")

number:  7

5040

### define a function to merge the given arrays and calculate the median named twoMedian

In [17]:
# your code here
ar1 = [random.randint(1, 100) for i in range(random.randint(5,15))]
ar2 = [random.randint(1, 100) for i in range(random.randint(5,15))]

print(ar1)
print(ar2)


def sumMedian(x,y):
    z = x+y
    twoMedian = np.median(z)
    return twoMedian

print(sumMedian(ar1,ar2))

[9, 37, 39, 36, 3, 5, 22, 71, 67, 11, 60, 90, 99, 65]
[94, 57, 78, 83, 30]
57.0